body {
	background-color: black;
	
	/* keeps the default mouse symbol when dragging 
	instead of changing to a text cursor */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

i {
	margin-right: 5px;
}

#animationControll i {
	margin: -1px 5px;
	cursor: pointer;
}

#settings input {
	margin: 10px 0;
	width: 40px;
}

label {
	display: inline-block;
}

#frameNumber {
	width: 40px;
}

canvas {
	border: #0C0C0C 2px solid;
	margin: 10px;
}

.well {
	margin: 10px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}